<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.withdog.order.mapper.OrderedProductMapper">
	<insert id="insertOrderedProductMapper" parameterType="map">
		INSERT INTO `product_image`
        (
            `orderId`
            ,`productId`
            ,`count`
            ,`createdAt`
        )
        VALUES
        <foreach collection="productIdAndCount" index="productId" item="count" separator=",">
		(
			#{orderId}
			, #{index}
			, #{count}
			, NOW()
		)
        </foreach>
	</insert>
</mapper>