<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.withdog.order.mapper.OrderedProductMapper">
	
	<select id="selectOrderedProductListByOrderId" parameterType="int" resultType="com.withdog.order.domain.OrderedProduct">
		SELECT 
			`id`
			,`orderId`
			,`productId`
			,`count`
			,`createdAt`
		FROM 
			`ordered_product`
		WHERE
			orderId = #{orderId}
		
	</select>
	
	<select id="selectOrderedProductByOrderId" parameterType="int" resultType="com.withdog.order.domain.OrderedProduct">
		SELECT 
			`id`
			,`orderId`
			,`productId`
			,`count`
			,`createdAt`
		FROM 
			`ordered_product`
		WHERE
			orderId = #{orderId}
	</select>


	<insert id="insertOrderedProductMapper" parameterType="map">
		INSERT INTO `ordered_product`
        (
            `orderId`
            ,`productId`
            ,`count`
            ,`createdAt`
        )
        VALUES
        <foreach collection="productIdAndCount" index="productId" item="count" separator=",">
		(
			#{orderId}
			, #{productId}
			, #{count}
			, NOW()
		)
        </foreach>
	</insert>
</mapper>