@charset "UTF-8";
a a:hover {display: none;}
header {height: 100px; background-color: antiquewhite;}
#headerBox {width:64%; height: 100px; background-color: azure;}
body {background-color: aqua;}
#logo {width: 20%; height: 100px; background-color: beige;}
.nav-group {height: 100px; width: 80%; background-color: aquamarine;}
.nav-box {height: 60px;}
.sub-nav {height: 40px;}
.contents {min-height: 880px; background-color: bisque;}
.content-box {display: flex;}
.content {width: 64%; background-color: beige; margin: 0%;}
#leftSide {min-height: 880px; width: 18%; background-color: blue; margin: 0%;}
#rightSide {min-height: 880px; width: 18%; background-color: blueviolet; margin: 0%;}
.sign-box {width: 450px; height: 650px; background-color: aquamarine;}
#emailCehckBtn {width: 100px; font-size: 12px; height: 30px;}
#userIdCheckBtn {width: 100px; font-size: 12px; height: 30px;}
.check-text {font-size: 12px;}
.search-product-btn {height: 30px;}
.edit-product-btn {height: 30px;}
.delete-product-btn {height: 30px;}

.product-box {width: 360px; height: 460px;}
footer {height: 100px; background-color: blanchedalmond;}



