@charset "UTF-8";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #362724;
}

a, a:hover {text-decoration: none; color: #362724;}
hr {unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;}
    

/* 헤더 */
header {width: 1920px; height: 100px; ;}
#logoWrap {width: 360px; height: 100px; background-color: #D3B998;}
.header-side {width: 360px; height: 100px; background-color:#D3B998;}
#logo {width: 360px; height: 100px; position: fixed;}
.nav-group {width: 1200px; background-color: #D3B998}
#mainNav {height: 60px;}
#mainNav ul a{height: 60px; line-height: 3;}
.sub-nav {height: 40px;}


/* 섹션 */
.contents {width: 1920px; min-height: 1080px;}
.content {width: 1200px;  margin: 0%;}

/* 사이드*/
#leftSide {min-height: 1080px; width: 360px; margin: 0%; background-color: #E8E3DD;}
#leftSideWrap {position: fixed; padding-left: 20px;}
.right-side-wrap {position: relative; float: right;}
#rightSide {min-height: 1080px; width: 360px;  margin: 0%; background-color: #E8E3DD;}

/* 콘텐츠 */
/* 회원가입 */
.sign-box {width: 450px; height: 650px; background-color: aquamarine;}
#emailCehckBtn {width: 100px; font-size: 12px; height: 30px;}
#userIdCheckBtn {width: 100px; font-size: 12px; height: 30px;}
.check-text {font-size: 12px;}

/* 관리자 dash-board */
.search-product-btn {height: 30px;}
.edit-product-btn {height: 30px;}
.delete-product-btn {height: 30px;}
.admin-permission-btn {height: 50px; font-size: 13px;}

/* 카트 */
.cart-img {
	background-image: url("/static/img/cart.png");
		background-size : 100%;
		background-color: #ffffff;
		border: none;
		width: 30px;
		height: 30px;
}

/* 좋아요 버튼*/
.button-favorite {
		background-image: url("/static/img/heart_empty.png");
		background-size : 100%;
		background-color: #ffffff;
		border: none;
		width: 30px;
		height: 30px;}
		
.button-favorite-active {
		background-image: url("/static/img/heart_filled.png");
		background-size : 100%;
		background-color: #ffffff;
		border: none;
		width: 30px;
		height: 30px;
}

/* 상품 목록 */
#productImage {height: 750px; overflow: hidden;}
#productImage img {width: 100%; height: auto;}
.product-boxes {padding: 32px;}
.product-box {
 	width: 360px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
    transition: box-shadow 0.3s ease;}
.product-box:hover {box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);}
.product-category-menu {background-color: #836E59;}
.product-category-menu a {color: #E8E3DD;}

.fixed {position: fixed; top: 0px; width: 1200px;}



/* 상품 상세 정보 */
.product-menu-detail {width: 1200px; height: 50px; background: #a9b3bc; font-size: 20px;}
.star-empty {
		background-image: url("/static/img/star_empty.png");
		background-size : 100%;
		background-color: #ffffff;
		border: none;
		width: 20px;
		height: 20px;
		}
		
.star-filled {
		background-image: url("/static/img/star_filled.png");
		background-size : 100%;
		background-color: #ffffff;
		border: none;
		width: 20px;
		height: 20px;
		}
.star-rating {display: flex;}


/*.board-pagenation ul li .on a {
	border-radius: 14px;
    border-color: #2e8de5;
    font-weight: bold;
    color: #2e8de5;
}
.board-pagenation ul li a {
    display: inline-block;
    min-width: 10px;
    height: 26px;
    padding: 0 8px;
    margin: 0 1px;
    line-height: 26px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 16px;
    color: #5e636d;
}*/

#productWrap {width: 1200px; min-height: 500px;}

/*.page-item.active .current-page {
    z-index: 3;
     color: #fff; 
     background-color: #007bff; 
    border-color: #007bff;
}*/

/* 체크아웃 */
.order-info-box {width: 700px; min-height: 800px;}
.shipping-info-box{
	width: 700px; 
	height: 300px;     
	background: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #e0e0e0;}
.payment-method-box {
	width: 700px; 
	height: 500px;
	background: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #e0e0e0;}
.payment-info-box {width: 480px; min-height: 600px;}
.product-info-box {width: 400px; min-height: 250px;}

/* footer */
footer {height: 100px; background-color: #D3B998;}



